{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: auto;
  background-color: rgb(19, 22, 231);
  margin-left:2px;
  margin-right:2px;
}

.topnav a {
  float: left;
  display: block;
  color: #b4f00f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: rgb(90, 171, 224);
  color: rgb(219, 27, 27);
}
.content {
  background-color: rgb(233, 15, 15);
  color:#f1dc1e;
  padding: 10px;
  height: 500px;
  text-align: center; 
  margin-left:2px;
  margin-right:2px;
}
.footer {
  background-color: #f1dc1e;
  color:green;
  padding: 10px;
  margin-left:2px;
  margin-right:2px;
  text-align:center;
}
.Intro {
  background-color:green;
  color:orange;
  padding: 10px;
  height: 250px;
  text-align:center;
  margin-left:2px;
  margin-right:2px;
}
.design {
  background-color:orange;
  color:purple;
  padding: 10px;
  height: 250px;
  text-align:center;
  margin-left:2px;
  margin-right:2px;
}
.program {
  background-color:purple;
  padding: 10px;
  height: 250px;
  text-align:center;
  margin-left:2px;
  margin-right:2px;
}
.vr {
  background-color:rgb(31, 8, 231);
  color:red;
  padding: 10px;
  height: 250px;
  text-align:center;
  margin-left:2px;
  margin-right:2px;
}